<div class="container">
  <div class="row">
    <div class="col-6 mb-5">
      <h2 class="text-center light2 mt-5 ml-5 col-8">新規News投稿</h2>
    </div>
  </div>

  <%#エラー文%>
  <% if @news.errors.any? %>
    <%= @news.errors.count %>件のエラーが発生しました
    <ul>
      <% @news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="row">
    <div class="col-10 mb-5 offset-2">
      <%= form_with model: @news, local: true do |f| %>
        <form>
          <div class="form-group col-xs-9">
            <%= f.label :"Newsタイトル", class: "col-sm-2 light" %>
            <%= f.text_field :title, placeholder: "Newsタイトル", class: "col-sm-6 p-1" %>
          </div>
          <div class="form-group col-xs-9">
            <%= f.label :詳細, class: "col-sm-2 align-top light" %>
            <%= f.text_area :body, placeholder: "ここに内容を記述します", class: "col-sm-6 p-1", rows:"20" %>
          </div>
          <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
          <div class="form-group col-10 text-center">
            <%= f.submit "投稿", class: "btn btn-success col-sm-2" %>
          </div>
        </form>
      <% end %>
    </div>
  </div>
</div>
