<div class="container">
  <div class="row">
    <div class="card">
      <div class="previews">
        <div class="slider">
          <%= image_tag 'gazo1.jpg',class:"card-img" ,alt:"Card image" %>
          <%= image_tag 'gazo1.jpg',class:"card-img" ,alt:"Card image" %>
          <%= image_tag 'gazo1.jpg',class:"card-img" ,alt:"Card image" %>
          <%= image_tag 'gazo1.jpg',class:"card-img" ,alt:"Card image" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <%= image_tag 'gazo1.jpg',class:"img3 m-3" %>
    <%= image_tag 'gazo1.jpg',class:"img3 m-3" %>
    <%= image_tag 'gazo1.jpg',class:"img3 m-3" %>
  </div>
</div>